Repository FAMAF-resources/3ro_1C-Matematica_Discreta_II-FAMAF, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, exams, apuntes, examples, workflows, libros, practico, teorico

.github/labeler.yml:

documentation:
  - README.md
  - 'docs/*'
  - 'docs/**/*'
  - 'assets/*'
  - 'assets/**/*'

exams:
  - 'ExamenesViejos/*'
  - 'ExamenesViejos/**/*'

apuntes:
  - 'apuntes/*'
  - 'apuntes/**/*'

examples:
  - 'examples/*'

workflows:
  - '.github/workflows/*'
  - '.github/workflows/**/*'

libros:
  - 'libros/*'
  - 'libros/**/*'

practico:
  - 'practico/*'
  - 'practico/**/*'

teorico:
  - 'teorico/*'
  - 'teorico/**/*'

Add files via upload
  teorico/Filminas teorico 2022/01_Grafos.pdf
  teorico/Filminas teorico 2022/02_Clase2Greedyreorden2COLORB.pdf
  teorico/Filminas teorico 2022/03_flujos2021.pdf
  teorico/Filminas teorico 2022/04_Flujos2Greedy.pdf
  teorico/Filminas teorico 2022/06_EK2021.pdf
  teorico/Filminas teorico 2022/07_EK2021complejidad.pdf
  teorico/Filminas teorico 2022/09_DinitzvsDinicEven.pdf
  teorico/Filminas teorico 2022/10_ComplejidadDinitz2021v4.pdf
  teorico/Filminas teorico 2022/11_WaveTarjan2021.pdf
  teorico/Filminas teorico 2022/12_Matching2021clase1v2.pdf
  teorico/Filminas teorico 2022/13_MatchingsPesados2021P1.pdf
  teorico/Filminas teorico 2022/14_MatchingsPesados2021P2HunC.pdf
  teorico/Filminas teorico 2022/15_ComplejidadHungaro.pdf
  teorico/Filminas teorico 2022/99_2daClaseCodigosLineales2021.pdf
  teorico/Filminas teorico 2022/99_2daclasePNP2021.pdf
  teorico/Filminas teorico 2022/99_BrooksRegular.pdf
  teorico/Filminas teorico 2022/99_Geneticos2021d.pdf
  teorico/Filminas teorico 2022/Codigos2021Introd.pdf
  teorico/Filminas teorico 2022/CodigosCiclicos2022P1.pdf
  teorico/Filminas teorico 2022/CodigosCiclicos2022P2.pdf
  teorico/Filminas teorico 2022/CodigosLineales1raClase.pdf
  teorico/Filminas teorico 2022/PNP2021.pdf
Labels: teorico

Update README.md
  README.md
Labels: documentation

Remove .gitkeep's
  apuntes/.gitkeep
  libros/.gitkeep
Labels: apuntes, libros

Add practico/2022
  practico/2022/Resueltos/Práctico 2 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 5 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 6.0 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 7 - Matemática discreta 2 - Iván Renison-1.pdf
  practico/2022/Resueltos/Práctico 7 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 9 - Matemática discreta 2 - Iván Renison.pdf
Labels: practico

Update practico/2024/
  practico/2024/Practico 1 - Coloreo - MDII.pdf
  practico/2024/Practico 2 - Networks - MDII.pdf
  practico/2024/Practico 3 - EK - MDII.pdf
  practico/2024/Practico 4 - Dinic - MDII.pdf
  practico/2024/Practico 5 - Wave - MDII.pdf
  practico/2024/Practico 6 - Matching - MDII.pdf
  practico/2024/Practico 7 - Codigos Lineales - MDII.pdf
  practico/2024/Practico 8 - Codigos Ciclicos - MDII.pdf
Labels: practico

Add temas-final/
  temas-final/TeoremasParaElFinal2024.pdf
  temas-final/no-sorted/Teoremas_Final_Discreta.pdf
Labels: none

Add proyecto/
  proyecto/2024/ErroresParte2.md
  proyecto/2024/Parte1ProyectoMDII2024.pdf
  proyecto/2024/Parte2ProyectoMDII2024.pdf
  proyecto/2024/Proyecto2024.md
Labels: none

Add programa
  2023_primer_cuatrimestre.pdf
Labels: none

Add teorico/2024/
  teorico/2024/CodigosCiclicos2022P1.pdf
  teorico/2024/CodigosCiclicos2022P2.pdf
  teorico/2024/Geneticos2021d.pdf
  teorico/2024/PNP2021.pdf
Labels: teorico

Add apuntes
  apuntes/3COLOResNPcompleto.pdf
  apuntes/DiscreteII_update-16-06-2024-Santiago.pdf
Labels: apuntes

Update README.md
  README.md
Labels: documentation

Add practico/2022
  practico/2022/Resueltos/Práctico 2 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 5 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 6.0 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 7 - Matemática discreta 2 - Iván Renison-1.pdf
  practico/2022/Resueltos/Práctico 7 - Matemática discreta 2 - Iván Renison.pdf
  practico/2022/Resueltos/Práctico 9 - Matemática discreta 2 - Iván Renison.pdf
Labels: practico

Remove .gitkeep's
  apuntes/.gitkeep
  libros/.gitkeep
Labels: apuntes, libros

Add proyecto/
  proyecto/2024/ErroresParte2.md
  proyecto/2024/Parte1ProyectoMDII2024.pdf
  proyecto/2024/Parte2ProyectoMDII2024.pdf
  proyecto/2024/Proyecto2024.md
Labels: none

Add apuntes
  apuntes/3COLOResNPcompleto.pdf
  apuntes/DiscreteII_update-16-06-2024-Santiago.pdf
Labels: apuntes

Add temas-final/
  temas-final/TeoremasParaElFinal2024.pdf
  temas-final/no-sorted/Teoremas_Final_Discreta.pdf
Labels: none

Update practico/2024/
  practico/2024/Practico 1 - Coloreo - MDII.pdf
  practico/2024/Practico 2 - Networks - MDII.pdf
  practico/2024/Practico 3 - EK - MDII.pdf
  practico/2024/Practico 4 - Dinic - MDII.pdf
  practico/2024/Practico 5 - Wave - MDII.pdf
  practico/2024/Practico 6 - Matching - MDII.pdf
  practico/2024/Practico 7 - Codigos Lineales - MDII.pdf
  practico/2024/Practico 8 - Codigos Ciclicos - MDII.pdf
Labels: practico

Add programa
  2023_primer_cuatrimestre.pdf
Labels: none

Add teorico/2024/
  teorico/2024/CodigosCiclicos2022P1.pdf
  teorico/2024/CodigosCiclicos2022P2.pdf
  teorico/2024/Geneticos2021d.pdf
  teorico/2024/PNP2021.pdf
Labels: teorico
